body {
    background-color: rgb(10, 10, 12);
}



.box{
    position: fixed;
    width: 350px;
    height: 500px;
    left: 830px;
    top: 200px;
    border-radius: 35px;
    z-index: -3;
    background: linear-gradient(135deg, rgb(237, 155, 13), rgb(193, 120, 24), rgb(105, 61, 17));
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    
    
}

.count{
    height: 300px;
    width: 300px;
    position: absolute;
    left: 860px;
    top: 190px;
    font-size: 50px;
    font-weight: bold;  
    line-height: 50px;
    color: #f4ca57;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    z-index: -2;
    text-shadow: 0 0 5px #ebb719,
        0 0 20px #bf9310,
        0 0 25px #bf9310,
        0 0 30px #bf9310;
    background: transparent;
    border: 0;
}
.btn{
    position: absolute;
    width: 330px;
    height: 310px;
    top: 390px;
    left: 840px;
    z-index: -1;
    background: transparent;
    border: 0;
    cursor: pointer;
    background-image: url('pinewithoutfon-Photoroom.png');
    transition: transform 0.5 ease;
}
.btn:active{
    transform: scale(0.98);
    background-image: url('clodeseyespine-Photoroom.png');
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}